.icon2 {
    background: url(tabicons.png) no-repeat;
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.r1_c1{
background-position: -0px -0px;
}
.r2_c1{
background-position: -0px -20px;
}
.r3_c1{
background-position: -0px -40px;
}
.r4_c1{
background-position: -0px -60px;
}
.r5_c1{
background-position: -0px -80px;
}
.r6_c1{
background-position: -0px -100px;
}
.r7_c1{
background-position: -0px -120px;
}
.r8_c1{
background-position: -0px -140px;
}
.r9_c1{
background-position: -0px -160px;
}
.r10_c1{
background-position: -0px -180px;
}
.r11_c1{
background-position: -0px -200px;
}
.r12_c1{
background-position: -0px -220px;
}
.r13_c1{
background-position: -0px -240px;
}
.r14_c1{
background-position: -0px -260px;
}
.r15_c1{
background-position: -0px -280px;
}
.r16_c1{
background-position: -0px -300px;
}
.r17_c1{
background-position: -0px -320px;
}
.r18_c1{
background-position: -0px -340px;
}
.r19_c1{
background-position: -0px -360px;
}
.r20_c1{
background-position: -0px -380px;
}
.r21_c1{
background-position: -0px -400px;
}
.r22_c1{
background-position: -0px -420px;
}
.r23_c1{
background-position: -0px -440px;
}
.r24_c1{
background-position: -0px -460px;
}
.r25_c1{
background-position: -0px -480px;
}
.r26_c1{
background-position: -0px -500px;
}
.r1_c2{
background-position: -20px -0px;
}
.r2_c2{
background-position: -20px -20px;
}
.r3_c2{
background-position: -20px -40px;
}
.r4_c2{
background-position: -20px -60px;
}
.r5_c2{
background-position: -20px -80px;
}
.r6_c2{
background-position: -20px -100px;
}
.r7_c2{
background-position: -20px -120px;
}
.r8_c2{
background-position: -20px -140px;
}
.r9_c2{
background-position: -20px -160px;
}
.r10_c2{
background-position: -20px -180px;
}
.r11_c2{
background-position: -20px -200px;
}
.r12_c2{
background-position: -20px -220px;
}
.r13_c2{
background-position: -20px -240px;
}
.r14_c2{
background-position: -20px -260px;
}
.r15_c2{
background-position: -20px -280px;
}
.r16_c2{
background-position: -20px -300px;
}
.r17_c2{
background-position: -20px -320px;
}
.r18_c2{
background-position: -20px -340px;
}
.r19_c2{
background-position: -20px -360px;
}
.r20_c2{
background-position: -20px -380px;
}
.r21_c2{
background-position: -20px -400px;
}
.r22_c2{
background-position: -20px -420px;
}
.r23_c2{
background-position: -20px -440px;
}
.r24_c2{
background-position: -20px -460px;
}
.r25_c2{
background-position: -20px -480px;
}
.r26_c2{
background-position: -20px -500px;
}
.r1_c3{
background-position: -40px -0px;
}
.r2_c3{
background-position: -40px -20px;
}
.r3_c3{
background-position: -40px -40px;
}
.r4_c3{
background-position: -40px -60px;
}
.r5_c3{
background-position: -40px -80px;
}
.r6_c3{
background-position: -40px -100px;
}
.r7_c3{
background-position: -40px -120px;
}
.r8_c3{
background-position: -40px -140px;
}
.r9_c3{
background-position: -40px -160px;
}
.r10_c3{
background-position: -40px -180px;
}
.r11_c3{
background-position: -40px -200px;
}
.r12_c3{
background-position: -40px -220px;
}
.r13_c3{
background-position: -40px -240px;
}
.r14_c3{
background-position: -40px -260px;
}
.r15_c3{
background-position: -40px -280px;
}
.r16_c3{
background-position: -40px -300px;
}
.r17_c3{
background-position: -40px -320px;
}
.r18_c3{
background-position: -40px -340px;
}
.r19_c3{
background-position: -40px -360px;
}
.r20_c3{
background-position: -40px -380px;
}
.r21_c3{
background-position: -40px -400px;
}
.r22_c3{
background-position: -40px -420px;
}
.r23_c3{
background-position: -40px -440px;
}
.r24_c3{
background-position: -40px -460px;
}
.r25_c3{
background-position: -40px -480px;
}
.r26_c3{
background-position: -40px -500px;
}
.r1_c4{
background-position: -60px -0px;
}
.r2_c4{
background-position: -60px -20px;
}
.r3_c4{
background-position: -60px -40px;
}
.r4_c4{
background-position: -60px -60px;
}
.r5_c4{
background-position: -60px -80px;
}
.r6_c4{
background-position: -60px -100px;
}
.r7_c4{
background-position: -60px -120px;
}
.r8_c4{
background-position: -60px -140px;
}
.r9_c4{
background-position: -60px -160px;
}
.r10_c4{
background-position: -60px -180px;
}
.r11_c4{
background-position: -60px -200px;
}
.r12_c4{
background-position: -60px -220px;
}
.r13_c4{
background-position: -60px -240px;
}
.r14_c4{
background-position: -60px -260px;
}
.r15_c4{
background-position: -60px -280px;
}
.r16_c4{
background-position: -60px -300px;
}
.r17_c4{
background-position: -60px -320px;
}
.r18_c4{
background-position: -60px -340px;
}
.r19_c4{
background-position: -60px -360px;
}
.r20_c4{
background-position: -60px -380px;
}
.r21_c4{
background-position: -60px -400px;
}
.r22_c4{
background-position: -60px -420px;
}
.r23_c4{
background-position: -60px -440px;
}
.r24_c4{
background-position: -60px -460px;
}
.r25_c4{
background-position: -60px -480px;
}
.r26_c4{
background-position: -60px -500px;
}
.r1_c5{
background-position: -80px -0px;
}
.r2_c5{
background-position: -80px -20px;
}
.r3_c5{
background-position: -80px -40px;
}
.r4_c5{
background-position: -80px -60px;
}
.r5_c5{
background-position: -80px -80px;
}
.r6_c5{
background-position: -80px -100px;
}
.r7_c5{
background-position: -80px -120px;
}
.r8_c5{
background-position: -80px -140px;
}
.r9_c5{
background-position: -80px -160px;
}
.r10_c5{
background-position: -80px -180px;
}
.r11_c5{
background-position: -80px -200px;
}
.r12_c5{
background-position: -80px -220px;
}
.r13_c5{
background-position: -80px -240px;
}
.r14_c5{
background-position: -80px -260px;
}
.r15_c5{
background-position: -80px -280px;
}
.r16_c5{
background-position: -80px -300px;
}
.r17_c5{
background-position: -80px -320px;
}
.r18_c5{
background-position: -80px -340px;
}
.r19_c5{
background-position: -80px -360px;
}
.r20_c5{
background-position: -80px -380px;
}
.r21_c5{
background-position: -80px -400px;
}
.r22_c5{
background-position: -80px -420px;
}
.r23_c5{
background-position: -80px -440px;
}
.r24_c5{
background-position: -80px -460px;
}
.r25_c5{
background-position: -80px -480px;
}
.r26_c5{
background-position: -80px -500px;
}
.r1_c6{
background-position: -100px -0px;
}
.r2_c6{
background-position: -100px -20px;
}
.r3_c6{
background-position: -100px -40px;
}
.r4_c6{
background-position: -100px -60px;
}
.r5_c6{
background-position: -100px -80px;
}
.r6_c6{
background-position: -100px -100px;
}
.r7_c6{
background-position: -100px -120px;
}
.r8_c6{
background-position: -100px -140px;
}
.r9_c6{
background-position: -100px -160px;
}
.r10_c6{
background-position: -100px -180px;
}
.r11_c6{
background-position: -100px -200px;
}
.r12_c6{
background-position: -100px -220px;
}
.r13_c6{
background-position: -100px -240px;
}
.r14_c6{
background-position: -100px -260px;
}
.r15_c6{
background-position: -100px -280px;
}
.r16_c6{
background-position: -100px -300px;
}
.r17_c6{
background-position: -100px -320px;
}
.r18_c6{
background-position: -100px -340px;
}
.r19_c6{
background-position: -100px -360px;
}
.r20_c6{
background-position: -100px -380px;
}
.r21_c6{
background-position: -100px -400px;
}
.r22_c6{
background-position: -100px -420px;
}
.r23_c6{
background-position: -100px -440px;
}
.r24_c6{
background-position: -100px -460px;
}
.r25_c6{
background-position: -100px -480px;
}
.r26_c6{
background-position: -100px -500px;
}
.r1_c7{
background-position: -120px -0px;
}
.r2_c7{
background-position: -120px -20px;
}
.r3_c7{
background-position: -120px -40px;
}
.r4_c7{
background-position: -120px -60px;
}
.r5_c7{
background-position: -120px -80px;
}
.r6_c7{
background-position: -120px -100px;
}
.r7_c7{
background-position: -120px -120px;
}
.r8_c7{
background-position: -120px -140px;
}
.r9_c7{
background-position: -120px -160px;
}
.r10_c7{
background-position: -120px -180px;
}
.r11_c7{
background-position: -120px -200px;
}
.r12_c7{
background-position: -120px -220px;
}
.r13_c7{
background-position: -120px -240px;
}
.r14_c7{
background-position: -120px -260px;
}
.r15_c7{
background-position: -120px -280px;
}
.r16_c7{
background-position: -120px -300px;
}
.r17_c7{
background-position: -120px -320px;
}
.r18_c7{
background-position: -120px -340px;
}
.r19_c7{
background-position: -120px -360px;
}
.r20_c7{
background-position: -120px -380px;
}
.r21_c7{
background-position: -120px -400px;
}
.r22_c7{
background-position: -120px -420px;
}
.r23_c7{
background-position: -120px -440px;
}
.r24_c7{
background-position: -120px -460px;
}
.r25_c7{
background-position: -120px -480px;
}
.r26_c7{
background-position: -120px -500px;
}
.r1_c8{
background-position: -140px -0px;
}
.r2_c8{
background-position: -140px -20px;
}
.r3_c8{
background-position: -140px -40px;
}
.r4_c8{
background-position: -140px -60px;
}
.r5_c8{
background-position: -140px -80px;
}
.r6_c8{
background-position: -140px -100px;
}
.r7_c8{
background-position: -140px -120px;
}
.r8_c8{
background-position: -140px -140px;
}
.r9_c8{
background-position: -140px -160px;
}
.r10_c8{
background-position: -140px -180px;
}
.r11_c8{
background-position: -140px -200px;
}
.r12_c8{
background-position: -140px -220px;
}
.r13_c8{
background-position: -140px -240px;
}
.r14_c8{
background-position: -140px -260px;
}
.r15_c8{
background-position: -140px -280px;
}
.r16_c8{
background-position: -140px -300px;
}
.r17_c8{
background-position: -140px -320px;
}
.r18_c8{
background-position: -140px -340px;
}
.r19_c8{
background-position: -140px -360px;
}
.r20_c8{
background-position: -140px -380px;
}
.r21_c8{
background-position: -140px -400px;
}
.r22_c8{
background-position: -140px -420px;
}
.r23_c8{
background-position: -140px -440px;
}
.r24_c8{
background-position: -140px -460px;
}
.r25_c8{
background-position: -140px -480px;
}
.r26_c8{
background-position: -140px -500px;
}
.r1_c9{
background-position: -160px -0px;
}
.r2_c9{
background-position: -160px -20px;
}
.r3_c9{
background-position: -160px -40px;
}
.r4_c9{
background-position: -160px -60px;
}
.r5_c9{
background-position: -160px -80px;
}
.r6_c9{
background-position: -160px -100px;
}
.r7_c9{
background-position: -160px -120px;
}
.r8_c9{
background-position: -160px -140px;
}
.r9_c9{
background-position: -160px -160px;
}
.r10_c9{
background-position: -160px -180px;
}
.r11_c9{
background-position: -160px -200px;
}
.r12_c9{
background-position: -160px -220px;
}
.r13_c9{
background-position: -160px -240px;
}
.r14_c9{
background-position: -160px -260px;
}
.r15_c9{
background-position: -160px -280px;
}
.r16_c9{
background-position: -160px -300px;
}
.r17_c9{
background-position: -160px -320px;
}
.r18_c9{
background-position: -160px -340px;
}
.r19_c9{
background-position: -160px -360px;
}
.r20_c9{
background-position: -160px -380px;
}
.r21_c9{
background-position: -160px -400px;
}
.r22_c9{
background-position: -160px -420px;
}
.r23_c9{
background-position: -160px -440px;
}
.r24_c9{
background-position: -160px -460px;
}
.r25_c9{
background-position: -160px -480px;
}
.r26_c9{
background-position: -160px -500px;
}
.r1_c10{
background-position: -180px -0px;
}
.r2_c10{
background-position: -180px -20px;
}
.r3_c10{
background-position: -180px -40px;
}
.r4_c10{
background-position: -180px -60px;
}
.r5_c10{
background-position: -180px -80px;
}
.r6_c10{
background-position: -180px -100px;
}
.r7_c10{
background-position: -180px -120px;
}
.r8_c10{
background-position: -180px -140px;
}
.r9_c10{
background-position: -180px -160px;
}
.r10_c10{
background-position: -180px -180px;
}
.r11_c10{
background-position: -180px -200px;
}
.r12_c10{
background-position: -180px -220px;
}
.r13_c10{
background-position: -180px -240px;
}
.r14_c10{
background-position: -180px -260px;
}
.r15_c10{
background-position: -180px -280px;
}
.r16_c10{
background-position: -180px -300px;
}
.r17_c10{
background-position: -180px -320px;
}
.r18_c10{
background-position: -180px -340px;
}
.r19_c10{
background-position: -180px -360px;
}
.r20_c10{
background-position: -180px -380px;
}
.r21_c10{
background-position: -180px -400px;
}
.r22_c10{
background-position: -180px -420px;
}
.r23_c10{
background-position: -180px -440px;
}
.r24_c10{
background-position: -180px -460px;
}
.r25_c10{
background-position: -180px -480px;
}
.r26_c10{
background-position: -180px -500px;
}
.r1_c11{
background-position: -200px -0px;
}
.r2_c11{
background-position: -200px -20px;
}
.r3_c11{
background-position: -200px -40px;
}
.r4_c11{
background-position: -200px -60px;
}
.r5_c11{
background-position: -200px -80px;
}
.r6_c11{
background-position: -200px -100px;
}
.r7_c11{
background-position: -200px -120px;
}
.r8_c11{
background-position: -200px -140px;
}
.r9_c11{
background-position: -200px -160px;
}
.r10_c11{
background-position: -200px -180px;
}
.r11_c11{
background-position: -200px -200px;
}
.r12_c11{
background-position: -200px -220px;
}
.r13_c11{
background-position: -200px -240px;
}
.r14_c11{
background-position: -200px -260px;
}
.r15_c11{
background-position: -200px -280px;
}
.r16_c11{
background-position: -200px -300px;
}
.r17_c11{
background-position: -200px -320px;
}
.r18_c11{
background-position: -200px -340px;
}
.r19_c11{
background-position: -200px -360px;
}
.r20_c11{
background-position: -200px -380px;
}
.r21_c11{
background-position: -200px -400px;
}
.r22_c11{
background-position: -200px -420px;
}
.r23_c11{
background-position: -200px -440px;
}
.r24_c11{
background-position: -200px -460px;
}
.r25_c11{
background-position: -200px -480px;
}
.r26_c11{
background-position: -200px -500px;
}
.r1_c12{
background-position: -220px -0px;
}
.r2_c12{
background-position: -220px -20px;
}
.r3_c12{
background-position: -220px -40px;
}
.r4_c12{
background-position: -220px -60px;
}
.r5_c12{
background-position: -220px -80px;
}
.r6_c12{
background-position: -220px -100px;
}
.r7_c12{
background-position: -220px -120px;
}
.r8_c12{
background-position: -220px -140px;
}
.r9_c12{
background-position: -220px -160px;
}
.r10_c12{
background-position: -220px -180px;
}
.r11_c12{
background-position: -220px -200px;
}
.r12_c12{
background-position: -220px -220px;
}
.r13_c12{
background-position: -220px -240px;
}
.r14_c12{
background-position: -220px -260px;
}
.r15_c12{
background-position: -220px -280px;
}
.r16_c12{
background-position: -220px -300px;
}
.r17_c12{
background-position: -220px -320px;
}
.r18_c12{
background-position: -220px -340px;
}
.r19_c12{
background-position: -220px -360px;
}
.r20_c12{
background-position: -220px -380px;
}
.r21_c12{
background-position: -220px -400px;
}
.r22_c12{
background-position: -220px -420px;
}
.r23_c12{
background-position: -220px -440px;
}
.r24_c12{
background-position: -220px -460px;
}
.r25_c12{
background-position: -220px -480px;
}
.r26_c12{
background-position: -220px -500px;
}
.r1_c13{
background-position: -240px -0px;
}
.r2_c13{
background-position: -240px -20px;
}
.r3_c13{
background-position: -240px -40px;
}
.r4_c13{
background-position: -240px -60px;
}
.r5_c13{
background-position: -240px -80px;
}
.r6_c13{
background-position: -240px -100px;
}
.r7_c13{
background-position: -240px -120px;
}
.r8_c13{
background-position: -240px -140px;
}
.r9_c13{
background-position: -240px -160px;
}
.r10_c13{
background-position: -240px -180px;
}
.r11_c13{
background-position: -240px -200px;
}
.r12_c13{
background-position: -240px -220px;
}
.r13_c13{
background-position: -240px -240px;
}
.r14_c13{
background-position: -240px -260px;
}
.r15_c13{
background-position: -240px -280px;
}
.r16_c13{
background-position: -240px -300px;
}
.r17_c13{
background-position: -240px -320px;
}
.r18_c13{
background-position: -240px -340px;
}
.r19_c13{
background-position: -240px -360px;
}
.r20_c13{
background-position: -240px -380px;
}
.r21_c13{
background-position: -240px -400px;
}
.r22_c13{
background-position: -240px -420px;
}
.r23_c13{
background-position: -240px -440px;
}
.r24_c13{
background-position: -240px -460px;
}
.r25_c13{
background-position: -240px -480px;
}
.r26_c13{
background-position: -240px -500px;
}
.r1_c14{
background-position: -260px -0px;
}
.r2_c14{
background-position: -260px -20px;
}
.r3_c14{
background-position: -260px -40px;
}
.r4_c14{
background-position: -260px -60px;
}
.r5_c14{
background-position: -260px -80px;
}
.r6_c14{
background-position: -260px -100px;
}
.r7_c14{
background-position: -260px -120px;
}
.r8_c14{
background-position: -260px -140px;
}
.r9_c14{
background-position: -260px -160px;
}
.r10_c14{
background-position: -260px -180px;
}
.r11_c14{
background-position: -260px -200px;
}
.r12_c14{
background-position: -260px -220px;
}
.r13_c14{
background-position: -260px -240px;
}
.r14_c14{
background-position: -260px -260px;
}
.r15_c14{
background-position: -260px -280px;
}
.r16_c14{
background-position: -260px -300px;
}
.r17_c14{
background-position: -260px -320px;
}
.r18_c14{
background-position: -260px -340px;
}
.r19_c14{
background-position: -260px -360px;
}
.r20_c14{
background-position: -260px -380px;
}
.r21_c14{
background-position: -260px -400px;
}
.r22_c14{
background-position: -260px -420px;
}
.r23_c14{
background-position: -260px -440px;
}
.r24_c14{
background-position: -260px -460px;
}
.r25_c14{
background-position: -260px -480px;
}
.r26_c14{
background-position: -260px -500px;
}
.r1_c15{
background-position: -280px -0px;
}
.r2_c15{
background-position: -280px -20px;
}
.r3_c15{
background-position: -280px -40px;
}
.r4_c15{
background-position: -280px -60px;
}
.r5_c15{
background-position: -280px -80px;
}
.r6_c15{
background-position: -280px -100px;
}
.r7_c15{
background-position: -280px -120px;
}
.r8_c15{
background-position: -280px -140px;
}
.r9_c15{
background-position: -280px -160px;
}
.r10_c15{
background-position: -280px -180px;
}
.r11_c15{
background-position: -280px -200px;
}
.r12_c15{
background-position: -280px -220px;
}
.r13_c15{
background-position: -280px -240px;
}
.r14_c15{
background-position: -280px -260px;
}
.r15_c15{
background-position: -280px -280px;
}
.r16_c15{
background-position: -280px -300px;
}
.r17_c15{
background-position: -280px -320px;
}
.r18_c15{
background-position: -280px -340px;
}
.r19_c15{
background-position: -280px -360px;
}
.r20_c15{
background-position: -280px -380px;
}
.r21_c15{
background-position: -280px -400px;
}
.r22_c15{
background-position: -280px -420px;
}
.r23_c15{
background-position: -280px -440px;
}
.r24_c15{
background-position: -280px -460px;
}
.r25_c15{
background-position: -280px -480px;
}
.r26_c15{
background-position: -280px -500px;
}
.r1_c16{
background-position: -300px -0px;
}
.r2_c16{
background-position: -300px -20px;
}
.r3_c16{
background-position: -300px -40px;
}
.r4_c16{
background-position: -300px -60px;
}
.r5_c16{
background-position: -300px -80px;
}
.r6_c16{
background-position: -300px -100px;
}
.r7_c16{
background-position: -300px -120px;
}
.r8_c16{
background-position: -300px -140px;
}
.r9_c16{
background-position: -300px -160px;
}
.r10_c16{
background-position: -300px -180px;
}
.r11_c16{
background-position: -300px -200px;
}
.r12_c16{
background-position: -300px -220px;
}
.r13_c16{
background-position: -300px -240px;
}
.r14_c16{
background-position: -300px -260px;
}
.r15_c16{
background-position: -300px -280px;
}
.r16_c16{
background-position: -300px -300px;
}
.r17_c16{
background-position: -300px -320px;
}
.r18_c16{
background-position: -300px -340px;
}
.r19_c16{
background-position: -300px -360px;
}
.r20_c16{
background-position: -300px -380px;
}
.r21_c16{
background-position: -300px -400px;
}
.r22_c16{
background-position: -300px -420px;
}
.r23_c16{
background-position: -300px -440px;
}
.r24_c16{
background-position: -300px -460px;
}
.r25_c16{
background-position: -300px -480px;
}
.r26_c16{
background-position: -300px -500px;
}
.r1_c17{
background-position: -320px -0px;
}
.r2_c17{
background-position: -320px -20px;
}
.r3_c17{
background-position: -320px -40px;
}
.r4_c17{
background-position: -320px -60px;
}
.r5_c17{
background-position: -320px -80px;
}
.r6_c17{
background-position: -320px -100px;
}
.r7_c17{
background-position: -320px -120px;
}
.r8_c17{
background-position: -320px -140px;
}
.r9_c17{
background-position: -320px -160px;
}
.r10_c17{
background-position: -320px -180px;
}
.r11_c17{
background-position: -320px -200px;
}
.r12_c17{
background-position: -320px -220px;
}
.r13_c17{
background-position: -320px -240px;
}
.r14_c17{
background-position: -320px -260px;
}
.r15_c17{
background-position: -320px -280px;
}
.r16_c17{
background-position: -320px -300px;
}
.r17_c17{
background-position: -320px -320px;
}
.r18_c17{
background-position: -320px -340px;
}
.r19_c17{
background-position: -320px -360px;
}
.r20_c17{
background-position: -320px -380px;
}
.r21_c17{
background-position: -320px -400px;
}
.r22_c17{
background-position: -320px -420px;
}
.r23_c17{
background-position: -320px -440px;
}
.r24_c17{
background-position: -320px -460px;
}
.r25_c17{
background-position: -320px -480px;
}
.r26_c17{
background-position: -320px -500px;
}
.r1_c18{
background-position: -340px -0px;
}
.r2_c18{
background-position: -340px -20px;
}
.r3_c18{
background-position: -340px -40px;
}
.r4_c18{
background-position: -340px -60px;
}
.r5_c18{
background-position: -340px -80px;
}
.r6_c18{
background-position: -340px -100px;
}
.r7_c18{
background-position: -340px -120px;
}
.r8_c18{
background-position: -340px -140px;
}
.r9_c18{
background-position: -340px -160px;
}
.r10_c18{
background-position: -340px -180px;
}
.r11_c18{
background-position: -340px -200px;
}
.r12_c18{
background-position: -340px -220px;
}
.r13_c18{
background-position: -340px -240px;
}
.r14_c18{
background-position: -340px -260px;
}
.r15_c18{
background-position: -340px -280px;
}
.r16_c18{
background-position: -340px -300px;
}
.r17_c18{
background-position: -340px -320px;
}
.r18_c18{
background-position: -340px -340px;
}
.r19_c18{
background-position: -340px -360px;
}
.r20_c18{
background-position: -340px -380px;
}
.r21_c18{
background-position: -340px -400px;
}
.r22_c18{
background-position: -340px -420px;
}
.r23_c18{
background-position: -340px -440px;
}
.r24_c18{
background-position: -340px -460px;
}
.r25_c18{
background-position: -340px -480px;
}
.r26_c18{
background-position: -340px -500px;
}
.r1_c19{
background-position: -360px -0px;
}
.r2_c19{
background-position: -360px -20px;
}
.r3_c19{
background-position: -360px -40px;
}
.r4_c19{
background-position: -360px -60px;
}
.r5_c19{
background-position: -360px -80px;
}
.r6_c19{
background-position: -360px -100px;
}
.r7_c19{
background-position: -360px -120px;
}
.r8_c19{
background-position: -360px -140px;
}
.r9_c19{
background-position: -360px -160px;
}
.r10_c19{
background-position: -360px -180px;
}
.r11_c19{
background-position: -360px -200px;
}
.r12_c19{
background-position: -360px -220px;
}
.r13_c19{
background-position: -360px -240px;
}
.r14_c19{
background-position: -360px -260px;
}
.r15_c19{
background-position: -360px -280px;
}
.r16_c19{
background-position: -360px -300px;
}
.r17_c19{
background-position: -360px -320px;
}
.r18_c19{
background-position: -360px -340px;
}
.r19_c19{
background-position: -360px -360px;
}
.r20_c19{
background-position: -360px -380px;
}
.r21_c19{
background-position: -360px -400px;
}
.r22_c19{
background-position: -360px -420px;
}
.r23_c19{
background-position: -360px -440px;
}
.r24_c19{
background-position: -360px -460px;
}
.r25_c19{
background-position: -360px -480px;
}
.r26_c19{
background-position: -360px -500px;
}
.r1_c20{
background-position: -380px -0px;
}
.r2_c20{
background-position: -380px -20px;
}
.r3_c20{
background-position: -380px -40px;
}
.r4_c20{
background-position: -380px -60px;
}
.r5_c20{
background-position: -380px -80px;
}
.r6_c20{
background-position: -380px -100px;
}
.r7_c20{
background-position: -380px -120px;
}
.r8_c20{
background-position: -380px -140px;
}
.r9_c20{
background-position: -380px -160px;
}
.r10_c20{
background-position: -380px -180px;
}
.r11_c20{
background-position: -380px -200px;
}
.r12_c20{
background-position: -380px -220px;
}
.r13_c20{
background-position: -380px -240px;
}
.r14_c20{
background-position: -380px -260px;
}
.r15_c20{
background-position: -380px -280px;
}
.r16_c20{
background-position: -380px -300px;
}
.r17_c20{
background-position: -380px -320px;
}
.r18_c20{
background-position: -380px -340px;
}
.r19_c20{
background-position: -380px -360px;
}
.r20_c20{
background-position: -380px -380px;
}
.r21_c20{
background-position: -380px -400px;
}
.r22_c20{
background-position: -380px -420px;
}
.r23_c20{
background-position: -380px -440px;
}
.r24_c20{
background-position: -380px -460px;
}
.r25_c20{
background-position: -380px -480px;
}
.r26_c20{
background-position: -380px -500px;
}
