@{
    ViewBag.Title = "Index";
}

<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true" style="width: 150px; overflow: hidden">
        @Html.Partial("_ModuleManage")
    </div>
    <div data-options="region:'center',title:'center title'">
       @Html.Partial("_MenuManage")
    </div>
</div>

