@{
    ViewBag.Title = "Index";
}
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',title:'组织机构',split:true" style="width: 150px; overflow: hidden">
         <ul id="orgtree"></ul>
    </div>
    <div data-options="region:'center',title:'center title'">
     
    </div>
</div>

<script type="text/javascript">
    $("#orgtree").tree({
        url: '/Api/Organization/GetOrganizationsAndUser?id=null',
        animate: true,
        onLoadSuccess: function () {
            $("#orgtree").tree("collapseAll");
        }
    });
    
</script>