@{
    ViewBag.Title = "Index";
}
<table id="tt" ></table> 
 
<script type="text/javascript">
    $('#tt').treegrid({
        url: '/api/Organization/GetOrganizationsTree?id=null',
        idField: 'ID',
        treeField: 'Name',
        animate:true,
        columns: [[
            { title: '部门名称', field: 'Name', width: fixWidth(0.3) },
            { field: 'Sort', title: '排序', width: fixWidth(0.3), align: 'right' },
            { field: 'Remark', title: '备注', width: fixWidth(0.4) }
        ]]
    });
</script>


