@{
    ViewBag.Title = "Index";
}


<table id="tt"></table>


<div id="dd2" icon="icon-save" style="padding: 5px; width: 400px; height: 250px;overflow: hidden">
    <form id="org">
        <div id="divU" style="height: 200px">
            <table cellpadding="0" cellspacing="1px" border="0" style="width: 100%;" bgcolor="b5d6e6">
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">部门名称</td>
                    <td style="padding: 5px">
                        <input id="txtName" type="text" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px">上级部门</td>
                    <td style="padding: 5px">
                        <input id="cc" class="easyui-combotree" data-options="url:'/api/Organization/GetOrganizationsComboTree?id=null'" required="true" style="width: 200px;" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px">排序</td>
                    <td style="padding: 5px">
                        <input id="ss" class="easyui-numberspinner" min="1" max="10" required="true" style="width: 80px;" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px">负责人</td>
                    <td style="padding: 5px">
                        <input id="txtPerson" type="text" maxlength="5" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px">备注</td>
                    <td style="padding: 5px">
                        <textarea id="txtRemark" rows="3" style="width: 280px; border: 1px solid #8DB2E3;"></textarea></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#tt').treegrid({
            toolbar: [
                {
                    iconCls: 'icon-add',
                    plain: true,
                    text: '增添',
                    onClick: function() {
                        add();
                    }
                }, '-', {
                    iconCls: 'icon-edit',
                    plain: true,
                    text: '编辑',
                    onClick: function() {
                        edit();
                    }
                }, '-', {
                    iconCls: 'icon-remove',
                    plain: true,
                    text: '删除',
                    onClick: function() {
                        remove();
                    }
                }
            ],
            url: '/api/Organization/GetOrganizationsTree?id=null',
            rownumbers: true,
            singleSelect: true,
            striped: true,
            pagination: true,
            pagePosition: 'bottom',
            pageNumber: 1,
            pageSize: 10,
            fit: true, //自动大小 
            pageList: [10, 20, 30, 40, 50],
            fitColumns: true,
            idField: 'ID',
            treeField: 'Name',
            animate: true,
            columns: [
                [
                    { title: '部门名称', field: 'Name', width: fixWidth(0.2), align: 'left' },
                    { field: 'User.RealName', title: '负责人', width: fixWidth(0.2) },
                    { field: 'Sort', title: '排序', width: fixWidth(0.2) },
                    { field: 'Remark', title: '备注', width: fixWidth(0.2) }
                ]
            ]
        });

    });

    function add() {
   
        $('#dd2').dialog({
            title: '部门管理',
            width: 500,
            height:300,
            resizable:true,
            closed: false,
            //cache: false,
            // href: '@Url.Content("~/Admin/Organization/OrganManage")',
            
            buttons:[{
                text:'保存',
                handler:function() {
                    alert("OK")
                }
            },{
                text:'关闭',
                handler:function() {
                    $("#dd2").dialog("close");
                }
            }]

        });
    }
</script>


