@{
    ViewBag.Title = "OrganizationAdd";
}

<div style="height: 200px">
            <table cellpadding="0" cellspacing="1px" border="0" style="width: 100%;height:100%;background-color:#b5d6e6" >
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 130px; padding-left: 5px; text-align: right">名称：</td>
                    <td style="padding: 5px;">
                        <input type="text" name="Name" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">类型：</td>
                    <td style="padding: 5px">
                        <input type="radio" value="1" id="orgtypes_1" name="Type">单位
                        <input type="radio" value="2" id="orgtypes_2" name="Type">部门
                        <input type="radio" value="3" id="orgtypes_3" name="Type" checked="checked">岗位
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">状态：</td>
                    <td style="padding: 5px">
                        <input type="radio" value="0" name="Status" checked="checked">启用
                        <input type="radio" value="1" name="Status">停用
                    </td>
                </tr>
                <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right">备注：</td>
                    <td style="padding: 5px">
                        <textarea rows="3" name="Remark" style="width: 280px; border: 1px solid #8DB2E3;"></textarea>
                    </td>
                </tr>
                  <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right" colspan="2" rowspan="2"> 
                          <div style="text-align:center"> 
                            <input type="button"  class="button1" style=" margin-left:5px;" onclick="Save()" value="保存">
                            <input type="button"  class="button1" style=" margin-left:5px;" onclick="console.log(parent.document.getElementById('orgiframe'))" value="返回">
                       </div>
                    </td>
                </tr>
             
            </table>
</div>

<script type="text/javascript">
   
</script>