
<style>
    .button1 {
        background: #f2f6f8  repeat-x;
        border: 1px solid #b3daf4;
        line-height: 25px;
        vertical-align: middle;
        height: 25px;
    }
</style>

<div id="dd2" style="padding: 5px; width:600px; height: 400px;">
    <form id="ff">
        <div style="height: 200px">
            <table cellpadding="0" cellspacing="1px" border="0" style="width: 100%;height:100%" bgcolor="b5d6e6">
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 130px; padding-left: 5px; text-align: right">名称：</td>
                    <td style="padding: 5px;">
                        <input type="text" name="Name" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">类型：</td>
                    <td style="padding: 5px">
                        <input type="radio" value="1" id="orgtypes_1" name="Type">单位
                        <input type="radio" value="2" id="orgtypes_2" name="Type">部门
                        <input type="radio" value="3" id="orgtypes_3" name="Type" checked="checked">岗位
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">状态：</td>
                    <td style="padding: 5px">
                        <input type="radio" value="0" name="Status" checked="checked">启用
                        <input type="radio" value="1" name="Status">停用
                    </td>
                </tr>
                <tr id="trleader1" style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">分管领导：</td>
                    <td style="padding: 5px;">
                        <input type="text" id="Leader1" name="Leader1" readonly style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /><input type="button"  class="button1" style="border-left: none; margin: 0;" onclick="chooseLeader1()" value="选择">
                    </td>
                </tr>
                <tr  id="trleader2" style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">部门/岗位领导：</td>
                    <td style="padding: 5px;">
                        <input type="text"id="Leader2" name="Leader2" readonly style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /><input type="button"  class="button1" style="border-left: none; margin: 0;" onclick="chooseLeader2()" value="选择">
                    </td>
                </tr>
                <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right">备注：</td>
                    <td style="padding: 5px">
                        <textarea rows="3" name="Remark" style="width: 280px; border: 1px solid #8DB2E3;"></textarea>
                    </td>
                </tr>
                 <tr id="trmove" style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right">移动：</td>
                    <td style="padding: 5px">
                       <input type="text" id="moveTo" name="moveTo" readonly style="border: 1px solid #8DB2E3; width: 200px; height: 20px" />
                        <input type="button"  class="button1" style="border-left: none; margin: 0;" onclick="chooseObject()" value="选择">
                        <input type="button"  class="button1" style=" margin-left: 5px;" onclick="chooseLeader1()" value="确定移动">
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div style="padding: 5px; width: 100%; height: 250px;text-align:right">
    <span><input type="button"  class="button1" style=" margin: 5px;"  onclick="addOrganization()"  value="增加单位/部门/岗位"></span>
    <span><input type="button"  class="button1" style=" margin: 5px;"  onclick="addUser()" value="增加人员"></span>
    <span><input type="button"  class="button1" style=" margin: 5px;"  onclick="objectRemove()" value="移动"></span>
    <span><input type="button"  class="button1" style=" margin: 5px;"  onclick="objectSave()" value="保存"></span>
    <span><input type="button"  class="button1" style=" margin: 5px;"  onclick="objectDelete()" value="删除"></span>
</div>
                    

<div id="win">
    <input id="btnTypeid" type="hidden" />
    <table style="border: 0; height: 300px; width: 500px;margin-top:20px" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="45%" valign="top">
                <div style="width: 100%; height: 400px; border: 1px solid #b3daf4;">
                    <ul id="tree1" style="margin:10px"></ul>
                </div>
            </td>
            <td align="center">
                <input type="button" id="add"  class="button1" onclick="winadd()" style="margin: 1px;" value="增加"><br />
                <br />
                <input type="button" id="delete" class="button1" onclick="windelete()" style="margin: 1px;" value="删除"><br />
                <br />
                <input type="button" id="confirm" class="button1"  onclick="winconfirm()" style="margin: 1px;" value="确定"><br />
                <br />
                <input type="button" id="cancel" class="button1" onclick="winclose()" style="margin: 1px;" value="取消"><br />
                <br />
            </td>
            <td width="45%" valign="top">
                <div style="width: 100%; height: 400px; border: 1px solid #b3daf4;">
                    <ul id="tree2" style="margin:10px"></ul>
                </div>
            </td>
        </tr>
    </table>
</div>



<script type="text/javascript">
    var type;
    
    $(function () {
        tree1Init();
        tree2Init();
        winInit();
        $("#trmove").hide();
    })

    //#region 初始化控件
    function tree1Init() {
        $("#tree1").tree({
            url: '/Api/Organization/GetOrganizationsAndUser?id=null',
            onLoadSuccess: function () {
                $("#tree1").tree("collapseAll");
            },
            onDblClick: function (node) {
                var canbeSelect = type == node.attributes.Type ? true : false;
                if (node && !IsExsits(node) && canbeSelect) {
                    if (filterCondition()) return;
                    $("#tree2").tree("append", {
                        data: [{
                            id: node.id,
                            text: node.text,
                            iconCls: node.iconCls,
                            Checked: node.Checked,
                            state: node.state,
                            attributes: node.attributes,
                            //children: node.children
                        }]

                    });
                }
               
            }
        });
    }

    function tree2Init() {
        $("#tree2").tree({
            data:[],
            onDblClick: function (node) {
                if (node)
                {
                    $("#tree2").tree("remove", node.target);
                }
            }
        });
    }

    function winInit() {
        $('#win').window({
            title: '选择组织机构成员',
            width: 600,
            height: 500,
            resizable: true,
            closed: true,
            closable: true,
            modal: true
        });
    }
    //#endregion 

    //#region 辅助方法
    /*条件过滤：判断是否为用户选择控件，如果不是，使其值能选择单个选项*/
    function filterCondition() {
        if (type !== "user") {
            var datas = $("#tree2").tree("getRoots");
            if (datas.length > 0) {
                $.messager.alert('警告', '(✿◡‿◡)~,用户组或组织机构只能存在一个！');
                return false;
            }
        }
        return true;
    }

    /*确保tree中只能存在一个唯一的node*/
    function IsExsits(node) {
        var datas = $("#tree2").tree("getRoots");
        for (var i = 0; i < datas.length; i++) {
            if (datas[i].id == node.id) {
                return true;
            }
        }
        return false;
    }
    //#endregion

    //#region  Window中按钮事件 
    function winadd() {
        var node = $("#tree1").tree("getSelected");
        var canbeSelect = type === node.attributes.Type ? true : false;
        if (filterCondition()) return;
        if (node && !IsExsits(node) && canbeSelect)
                $("#tree2").tree("append", {
                    data: [{
                        id: node.id,
                        text: node.text,
                        iconCls: node.iconCls,
                        Checked: node.Checked,
                        state: node.state,
                        attributes: node.attributes,
                        //children:node.children
                    }]
                });
    }
    function windelete() {
        var node = $("#tree2").tree("getSelected");
        if (node) {
            $("#tree2").tree("remove", node.target);
        }
    }
    function winconfirm() {
        //读取按钮id
        var btntype = $("#btnTypeid").val();

        var data = $("#tree2").tree("getRoots");

        if (data) {
            var names = '', ids = '';
            for (var i = 0; i < data.length; i++) {
                names += data[i].text + ",";
                ids += data[i].id + ",";
                $("#" + btntype).val(names);
                $("#" + btntype).attr("ids", ids);
            }
        }


        $('#win').window("close");
    }
    function winclose() {
        $('#win').window("close");
    }

    //#endregion
       
   
    function chooseLeader1() {
        tree1Init();
        tree2Init();
        winInit();
        //设置打开窗口的类型
        type = "user";
        $("#btnTypeid").val("Leader1");
        $('#win').window("open");
    }

    function chooseLeader2() {
        tree1Init();
        tree2Init();
        winInit();
        //设置打开窗口的类型
        type = "user";
        $("#btnTypeid").val("Leader2");
        $('#win').window("open");
    }


    function addOrganization() {
        $("#ff").form("reset")
        $("#trleader1").hide();
        $("#trleader2").hide();
    }



</script>
