@{
    ViewBag.Title = "主页";
}

@section Head
{

    <script type="text/javascript">
        //treenode节点单机事件
        function nodeClick(node) {
            openMenu(node.text, node.attributes.Width, node.attributes.Height, node.attributes.URL,  node.attributes.OpenType,node.attributes.PicUrl);
        }
        //增加导航项
        function addModule(module, i) {
            //var url = "url:'/Api/Menu/GetSubMenusByPMenu?id=" + menu.ID + '&modulecode=' + menu.Module.Code+'"';
            $('#Mainguid').accordion('add', {
                title: module.Name,
                content: '<ul class="easyui-tree" id="tt' + i + '" data-options="url:' + "'" + '/Api/Menu/GetMenusByModule?id=null&modulecode=' + module.Code + "'" + ",method:'get',onClick:nodeClick" + '"></ul>',
                animate: true,
                iconCls: module.PicUrl
            });
        }

        //增加tab内容页
        function openMenu(title, width, height, url, opentype, icon) {
            switch (parseInt(opentype)) {
            case 1: //弹窗(模态)
                openWindow("win", title, width, height, url, icon, false);
                break;
            case 2: //弹窗（非模态）    
                openWindow("win", title, width, height, url, icon,true);
                break;
            default:
                OpenTab("content", title, url, icon);
                break;
            }
        }

        $(function() {
            $.ajax({
                url: "/api/Module/",
                type: "Get",
                dataType: 'json',
                success: function(modules) {
                    for (var i = 0; i < modules.length; i++) {
                        addModule(modules[i], i);
                    }
                }
            });
        });
    </script>
}
<div class="easyui-layout" data-options="fit:true">
    @*标题*@
    <div data-options="region:'north'" style="height: 100px;">
    </div>

    @*导航*@
    <div data-options="region:'west',title:'导航菜单',split:true" style="width: 200px;">
        <div id="Mainguid" class="easyui-accordion" data-options="fit:true,border:false" style="width: 300px;overflow: hidden">
        </div>
    </div>

    @*内容*@
    <div data-options="region:'center',border:false" style="overflow: hidden">
        <div id="content" class="easyui-tabs" data-options="fit:true" >
        </div>
    </div>
    
    @*用于弹窗*@
    <div id="win" style="overflow: hidden;" ></div>  
    

</div>
