@{
    ViewBag.Title = "用户管理";
}

<table id="dg"></table>


<div id="dd2" icon="icon-save" style="padding: 5px; width: 400px; height: 250px; overflow: hidden">
    <form id="ff">
        <div id="divU" style="height: 200px">
            <table cellpadding="0" cellspacing="1px" border="0" style="width: 100%;" bgcolor="b5d6e6">
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">真实姓名：</td>
                    <td style="padding: 5px">
                        <input class="easyui-validatebox textbox" name="RealName" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">用户名：</td>
                    <td style="padding: 5px">
                        <input class="easyui-validatebox textbox" name="UserName" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">密 码：</td>
                    <td style="padding: 5px">
                        <input type="password" class="easyui-validatebox" name="PassWord" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">入职时间：</td>
                    <td style="padding: 5px">
                        <input class="Wdate" type="text" name="OfferTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" />
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">学历：</td>
                    <td style="padding: 5px">
                        <input class="easyui-combobox" id="Education" name="Education" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" />
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">婚否：</td>
                    <td style="padding: 5px">
                        <input class="easyui-combobox" id="IsMarry" name="IsMarry" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" />
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">专业：</td>
                    <td style="padding: 5px">
                        <input class="easyui-validatebox textbox" name="Professional" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 80px; padding-left: 5px">启用：</td>
                    <td style="padding: 5px">
                        <input class="easyui-combobox" id="InUse" name="InUse" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" />
                    </td>
                </tr>
                <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px">生日</td>
                    <td style="padding: 5px">
                        <input class="Wdate" type="text" name="BirthDay" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" />
                    </td>
                </tr>
                <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px">备注</td>
                    <td style="padding: 5px">
                        <textarea id="txtRemark" rows="3" name="Remark" style="width: 280px; border: 1px solid #8DB2E3;"></textarea></td>
                </tr>
            </table>
        </div>
    </form>
</div>


<script type="text/javascript">
    function initCombotree() {
        $("#Education").combobox({
            separator:true,            
            valueField: 'id',
            panelHeight:'150',
            textField: 'text',
            data:
                [
                    { id: '001', text: '小学' },
                    { id: '002', text: '高中' },
                    { id: '003', text: '中专' },
                    { id: '004', text: '大专' },
                    { id: '005', text: '本科' },
                    { id: '006', text: '硕士' },
                    { id: '007', text: '博士' }
                ]
        });
        $("#IsMarry").combobox({
            separator: true,
            panelHeight: '50',
            valueField: 'id',
            textField: 'text',
            data: [
                { id: 'true', text: '已婚' },
                { id: 'false', text: '未婚' }
            ]
        });
        $("#InUse").combobox({
            separator: true,
            panelHeight: '50',
            valueField: 'id',
            textField: 'text',
            data: [
                { id: 'true', text: '启用' },
                { id: 'false', text: '停用' }
            ]
        })

    }
    $('#dg').datagrid({
        toolbar: [
            {
                iconCls: 'icon-add',
                plain: true,
                text: '增添',
                onClick: function () {
                    add();
                }
            }, '-', {
                iconCls: 'icon-edit',
                plain: true,
                text: '编辑',
                onClick: function () {
                    edit();
                }
            }, '-', {
                iconCls: 'icon-remove',
                plain: true,
                text: '删除',
                onClick: function () {
                    remove();
                }
            }
        ],
        url: '@Url.Content("~/api/User/GetAllUsers")',
        rownumbers: true,
        singleSelect: true,
        striped: true,
        pagination: true,
        pagePosition: 'bottom',
        pageNumber: 1,
        pageSize: 10,
        height: 'auto',
        fit: true,//自动大小 
        pageList: [10, 20, 30, 40, 50],
        fitColumns: true,
        columns: [[
            { field: 'RealName', title: '姓名', width: fixWidth(0.1), halign: "center", align: "center" },
            { field: 'UserName', title: '用户名', width: fixWidth(0.1), halign: "center", align: "center" },
            { field: 'PassWord', title: '密码', width: fixWidth(0.1), halign: "center", align: "center" },
            { field: 'OfferTime', title: '入职时间', width: fixWidth(0.1), halign: "center", formatter: ShowDate, align: "center" },
            { field: 'Education', title: '学历', width: fixWidth(0.1), halign: "center", align: "center" },
            { field: 'Professional', title: '专业', width: fixWidth(0.1), halign: "center", align: "center" },
            { field: 'IsMarry', title: '婚否', width: fixWidth(0.1), halign: "center", formatter: ShowState, align: "center" },
            { field: 'BirthDay', title: '生日', width: fixWidth(0.1), halign: "center", formatter: ShowDate, align: "center" },
            { field: 'InUse', title: '是否启用', width: fixWidth(0.15), halign: "center", formatter: ShowState, align: "center" },
            { field: 'Remark', title: '备注', width: fixWidth(0.15), halign: "center", align: "center" }
        ]],
    });
    function remove() {
        var node = $('#dg').datagrid('getSelected');

        if (!node) {
            $.messager.alert('提示', '-_-|||！请先选中要操作的数据！');
        }

        $.ajax({
            url: '/Api/User/' + node.ID,
            type: 'DELETE',
            success: function (data) {
                if (data.success) {
                    $('#dg').datagrid('reload');
                }
                $.messager.alert('提示', data.message);
            }
        });

    }

    $(function () {
        $('#dg').datagrid().datagrid('clientPaging');
    });

    function edit() {
        //获取node节点
        var node = $('#dg').datagrid('getSelected');

        if (!node) {
            $.messager.alert('提示', '-_-|||！请先选中要操作的数据！');
            return;
        }

        $('#ff').form("reset");
        initCombotree();
        //加载form数据
        $.ajax({
            url: '/Api/User/' + node.ID,
            type: 'Get',
            success: function (data) {
                $('#ff').form('load', data);
            }
        });

        $('#dd2').dialog({
            title: '编辑用户信息',
            width: 500,
            height: 500,
            resizable: true,
            closed: false,
            buttons: [{
                text: '修改',
                handler: function () {
                    $("#dd2").dialog("close");
                    if ($("#ff").form('enableValidation').form('validate')) {
                        //加载form数据
                        $.ajax({
                            url: '/Api/User/' + node.ID,
                            type: 'PUT',
                            data: $('#ff').serialize(),
                            success: function (data) {
                                if (data.success) {
                                    $('#dg').datagrid('reload');
                                }
                                $.messager.alert('提示', data.message);
                            }
                        });
                    }
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#dd2").dialog("close");
                }
            }]
        });
    }
    
    function add() {
        //$("#cc").combotree("reload", '/api/Organization/GetOrganizationsComboTree?id=null');
        $('#ff').form("reset");
        initCombotree();
        $('#dd2').dialog({
            title: '新增用户信息',
            width: 500,
            height: 500,
            resizable: true,
            closed: false,
            buttons: [{
                text: '添加',
                handler: function () {
                    $("#dd2").dialog("close");
                    if ($("#ff").form('enableValidation').form('validate')) {
                        //加载form数据
                        $.ajax({
                            url: '/Api/User/',
                            type: 'POST',
                            data: $('#ff').serialize(),
                            success: function (data) {

                                if (data.success) {
                                    $('#dg').datagrid('reload');
                                }
                                $.messager.alert('提示', data.message);
                            }
                        });
                    }
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#dd2").dialog("close");
                }
            }]
        });
    }
</script>
